.erro-validacao {
    color: rgb(116, 18, 94);
}

.ui-float-label{
    margin-top: 1em;
}

.ui-float-label>label{
    color: peru;
    padding: 3px;
}

#float-input1, #float-input2, #float-input3{
    border-radius: 1em;
    text-align: center;
    size: 30;
}

.tipo{
    color: peru;
    margin-top: 1em;
}

button{
    border-radius: 2em;
    padding-left: 5em;
}

.divgeral{
    margin-left: 2em;
    margin-top: 2em;
}